---
layout: default
---
<div class="img-settings heroImage" style="background-image: url('{{site.data.contentful.spaces.proddata.contentOnAllPages[0].aboutImage.url}}')">
	<div class="section-photo center-vertical">
		<div class="grid">
			<div class="col-8-12 center">
				<h1 class="white-title">Creating a space of shared awareness</h1>
			</div>
		</div> 
	</div>
</div>

<section class="light-grey">
	<div class="grid">
	<h3>About Camp Let It Go</h3>
	<span class="center-text">&mdash;</span>
		<div class="col-1-2 center tablet-col-1-60">
			<p>{{ site.data.contentful.spaces.proddata.contentOnAllPages[0].aboutLetItGoText  | markdownify }}</p>
		</div>
	</div>
</section>


<div class="img-settings about-image" style="background-image: url('{{ site.data.contentful.spaces.proddata.contentOnAllPages[0].aboutImage2.url}}'); min-height: 616px;" title="{{ site.data.contentful.spaces.proddata.contentOnAllPages[0].aboutImage2.title}}" />
</div>
3

<section>
	<h3>Members</h3>
	<span class="center-text">&mdash;</span>
	<div class="grid content staff-all">
		{% assign sorted_campmembers = site.data.contentful.spaces.proddata.campMember | sort:"order" %}
			
			{% for campmember in sorted_campmembers %}
			
			<div class="col-1-4 tablet-col-1-3 mobile-col-1-1 custom-col-1-2" style="height: 375px;">
		        <a href="/camp-member/{{ campmember.desiredUrl }}"><div class="img-settings" style="background-image: url('{{ campmember.picture.url }}'); height: 260px; max-width: 250px; margin: 0 auto;" title="{{ campmember.picture.title }}"/></div></a> 
		        <a href="/camp-member/{{ campmember.desiredUrl }}"><h4 class="center-text">{{ campmember.name }}</h4></a>
		        <h4 class="center-text font-normal">{{campmember.title}}</h4>
		    </div>
    	{% endfor %}
	</div>
</section>

<section>
	<div class="grid">
	<h3>Contact Us</h3>
	<span class="center-text">&mdash;</span>
		<div class="col-1-2 center tablet-col-1-60">
			<p>{{ site.data.contentful.spaces.proddata.contentOnAllPages[0].contactUsText  | markdownify }}</p>
			<div class="center center-text about-contacts">
				<div class="social-icons">
					<a href="//www.facebook.com/groups/215155725578255/" target="_blank" class="fb"><svg viewBox="0 0 50 50" height="25px" width="25px"><path d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"/></svg></a>
					<!-- <h4 class="font-normal">Follow us on Facebook</h4> -->
					<h3 class="" style="display: inline-block; margin: 0 1em;">|</h3>
				</div>
				<div class="social-icons">
					{% include icon-instagram.html %}
				</div>


			</div>
		</div>
	</div>
</section>